<style>
	*{
		text-align: center;
	}
	h1{
		
	}
	p{ 
		margin-block-end: 0px;
		margin-block-start: 0px;
		padding: 5px;

	}
	*{
		box-sizing: border-box;
	}
	.clear{
		    clear: right;
	        }

		
	#p1{
 		 float: right;
 		 border: 1px solid black;
  		 background-color: pink ;
  		 color: black;
         width: 80px;
  			
	}
	#p2{
		 float: right;
  		 border: 1px solid black;
         background-color:red ;
         color: black;
         width: 80px;
	}
	#p3{
		 float: right;
  		 border: 1px solid black;
 		 background-color: yellow;
 		 color: black;
 		 width: 80px; 
	}
	.row{
		 border: 3px solid black;
  		 background-color: gray;
  		 color: black;
  		 margin: 5px;
  		 height: 125px;
         overflow:hidden;
	}
	@media (min-width: 1200px) {.col-lg-4, .col-lg-6,.col-lg-12 {float: left;}
								  .col-lg-4 {
								    width: 33.33%;
								  }
								  .col-lg-6 {
								    width: 50%;
								  }

								  .col-lg-12 {
								    width: 100%;
								  }
								}

@media (min-width: 950px) and (max-width: 1199px) {.col-md-4,.col-md-6,.col-md-12 {float: left;}
													  .col-md-4 {
													    width: 33.33%;
													  }
													  .col-md-6 {
													    width: 50%;
													  }

													  .col-md-12 {
													    width: 100%;
													  }
													}




</style>
